:root {
    color-scheme: light dark;
}
  
@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}
  
@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}

::-webkit-scrollbar {
    display: none;
}

/* CSS */
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: rgba(255, 255, 255, 0.483);
    text-decoration: underline;
}

.body-text {
    margin-left: 25px;
    font-size: 18px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-container {
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff8c;
    height: 100vh;
}

.flex-container > div { 
    padding: 10px;
    font-size: 24px;
    background-color: #ffffff31;
    width: 150px;
    height: 30px;
    margin: 10px;
    text-align: center;
}   