.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.feature-container .card {
    flex-grow: 2;
    margin-right: 2%;
    height: 350px;
}

img {
    max-height: 450px;
    width: auto;
}