* {
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: #22272e;
    letter-spacing: 2px;
}
body, a {
    color: white;
}

main {
    overflow-x: hidden;
}

#map, #map-controls, #bottombar, .topbar {
    transition: opacity 1s ease-in-out;
}
  
.sidebar, .topbar, .bottombar, .side-decorator {
    font-size: 1.5rem;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* SIDEBAR */

.sidebar, .side-decorator  {
    grid-area: side;
    width: 13rem;
    flex-direction: column;
}
.side-decorator {
    font-weight: bold;
    border-top: 3px solid #ffffff7a;
    border-bottom: 3px solid #ffffff7a;
}

.sidebar ul li a{
	padding: 15px;
    text-decoration: none;
    border-bottom: 3px solid #ffffff7a;
}
.sidebar ul li.last a{
    border-bottom: none;
}

.sidebar ul li a .action {
	margin-left: 5px;
}

.sidebar ul li a:hover{
    text-decoration: none;
}

.sidebar_inner li {
    list-style-type: none;
  }

.sidebar_inner a {
    display: flex;
    align-items: center;
}

.sidebar_inner a .material-symbols-outlined {
    order: 1;
    transition: transform 0.3s ease-in-out;
}

.sidebar_inner a .action {
    order: 2;
    transition: transform 0.3s ease-in-out;
}
.sidebar_inner a:hover .material-symbols-outlined {
    transform: translateX(6.5rem);
}
.sidebar_inner a:hover .action {
    transform: translateX(-2rem);
}
.sidebar_inner a:hover {
    animation: glow 0.4s ease-in-out forwards;
}
.sidebar_inner a:active {
    animation: haptic-feedback 0.1s linear;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 2px 1px #88A1BD22;
        background-color: #88A1BD13;
    }
    25% {
        box-shadow: 0 0 4px 2px #88A1BD4c;
        background-color: #88A1BD4c;
    }
    50% {
        box-shadow: 0 0 6px 3px #88A1BD72;
        background-color: #88A1BD7c;
    }
    75% {
        box-shadow: 0 0 8px 4px #88A1BDba;
        background-color: #88A1BDbb;
    }
    100% {
        box-shadow: 0 0 10px 5px #88A1BD;
        background-color: #88A1BD;
    }
}
@keyframes haptic-feedback {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* SIDEBAR ENDE */

/* TOPBAR */

.topbar {
    grid-area: top;
    justify-content:space-around;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn, .dropdown-btn2, #current-year   {
    background:#627488;
    border-radius: .375rem;
    padding: 10px 10px;
}

.dropdown-btn, .dropdown-btn2 {
    cursor: pointer;
}

.dropdown-btn2  {
    background-color: #4F82BD;
}

@keyframes glow-active {
    0% {
        box-shadow: 0 0 0 1px #627488;
    }
    100% {
        box-shadow: 0 0 0 5px #627488;
    }
}
@keyframes glow-active2 {
    0% {
        box-shadow: 0 0 0 1px #4F82BD;
    }
    100% {
        box-shadow: 0 0 0 5px #4F82BD;
    }
}

@keyframes glow2 {
    0% {
        box-shadow: 0 0 2px 1px #4F82BD22;
        background-color: #3b87d913;
    }
    25% {
        box-shadow: 0 0 4px 2px #4F82BD4c;
        background-color: #4F82BD4c;
    }
    50% {
        box-shadow: 0 0 6px 3px #4F82BD72;
        background-color: #4F82BD7c;
    }
    75% {
        box-shadow: 0 0 8px 4px #4F82BDba;
        background-color: #4F82BDbb;
    }
    100% {
        box-shadow: 0 0 10px 5px #4F82BD;
        background-color: #4F82BD;
    }
}

.dropdown-btn:hover {
    animation: glow 0.4s ease-in-out  forwards;
}

.dropdown-btn:active {
    animation: glow-active 0.4s ease-in-out  forwards;
}

.dropdown-btn2:hover {
    animation: glow2 0.4s ease-in-out  forwards;
}

.dropdown-btn2:active {
    animation: glow-active2 0.4s ease-in-out  forwards;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 160px;
    padding: 12px 16px;
    z-index: 1;
    overflow-y: scroll;
    max-height: 200px;
    border : 3px solid #88A1BD;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    border-radius: .375rem;
  }

input[type="checkbox"] {
    outline: 2px solid black;
    background-color: #88A1BD;
    accent-color: white;
}

.dropdown-content.show {
    display: block;
    background: #5a677a;
    width: auto;
    min-width: 160px;
    box-shadow: 0 0 10px 5px #88A1BD;
}


label {
    display: block;
    padding: 5px;
    font-size: 1rem;
}

label:hover {
    border-color: #5484EB;
    box-shadow: 0 0 10px 10px #5484EB;
}

.dropdown-content label input {
    margin-right: 10px;
}


/* TOPBAR ENDE */
.dropUp {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.dropUp-btn {
    background:#627488;
    border-radius: .375rem;
    padding: 1px 1px;
}

.dropUp-btn:hover {
    animation: glowBtnUp 0.4s ease-in-out  forwards;
}

.dropdown .material-symbols-rounded {
    vertical-align: middle;
  }

@keyframes glowBtnUp {
    0% {
        box-shadow: 0 0 2px 1px #88A1BD22;
        background-color: #88A1BD13;
    }
    25% {
        box-shadow: 0 0 4px 2px #88A1BD4c;
        background-color: #88A1BD4c;
    }
    50% {
        box-shadow: 0 0 6px 3px #88A1BD72;
        background-color: #88A1BD7c;
    }
    75% {
        box-shadow: 0 0 8px 4px #88A1BDba;
        background-color: #88A1BDbb;
    }
    100% {
        box-shadow: 0 0 10px 5px #88A1BD;;
        background-color: #88A1BD;;
    }
}
.bottom {
    padding: 1rem;
  }
  
  /* Controls */
  
  div[aria-label="controls"] {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto) 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
  }
    

  .speedDropdownBtn:hover .dropdown-content {
    display: block;
  }
  
  .btn-filters {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  
  select,
  #current-year {
    padding: 10px 10px;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
 /* Map Control Container */
  
  .map-control-container {
    position: fixed;
    right: 1rem;
    top: 6rem;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .map-control {
    border: 2px solid #22272e;
    border-radius: .375rem;
    padding: 0.1rem;
    margin: 0.1rem 0; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .map-control:hover:not(.disabled) {
    border: 2px solid white;
  }
  

/* Buttons */

button {
    color: white;
    background-color: #3e4754;
    border-radius: .375rem;
}

/* Main Container */

main {
    height: 100%;
    display: grid;

    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "side top"
        "side main"
        "side bottom";
}


/* Loader */

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(128, 128, 128, 0.5);
}

.loader-container.show-options {
    display: flex;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #1675da;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Range Slider */

#rangeSlider {
    cursor: pointer;
}

#rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#rangeSlider::-moz-range-thumb {
    -webkit-appearance: none;
}




/* Info Box */
.tg {
  border-radius: 25%;
  font-family: sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  border-collapse: collapse;
  border-color: white;
  box-shadow: 0 0 10px 5px #0e94d4;
  background-color: #22272e;
}

.tg th,
.tg td {
  padding: 8px;
  border: 1px solid #ccc;
  word-wrap: break-word;
  word-break: break-all;
  vertical-align: top;
}

.tg-first-col {
  width: 50%;
}

.tg-second-col {
  width: 50%;
}