
.card {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: large;
}
/*Cards sind scrollable mit fester höhe */
.inner-card-container {
    height: 100%;
    overflow-y: auto;
    text-align: justify;
}